* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5;
	color: #333;
	font-family: "Arial", sans-serif;
	font-size: 18px;
}

/* logo książkaADRESOWA */
.title-text h1 {
	font-size: 30px;
	margin: 20px auto;
	width: 100%;
	max-width: 1200px;
	text-shadow: 3px 3px 5px #333;
	color: #ddd;
	font-weight: bold;
}

.title-text span {
	text-transform: uppercase;
	color: #3498db;
}

/* nawigacja */
header {
	position: sticky; /* nieruchoma nawigacja */
	top: 0; /* nieruchoma nawigacja */
	height: 70px;
	line-height: 70px;
	background-color: #ddd;
	text-align: center;
	z-index: 10;
}

.nav-items a {
	padding: 0 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	transition: color 0.3s;
	color: #333;
}

.nav-items a:hover {
	color: #3498db;
}

/* main */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 60px;
}

/* tytuł w main */
h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 60px;
	color: #3498db;
}

/* tabela, o mnie */
.wrapper {
	border-radius: 10px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

/* formularz add i edit*/
.form {
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 600px; /* szerokość formularza */
	margin: 0 auto;
	padding: 30px;
}

.form label {
	font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"] {
	margin: 15px;
	padding: 7px 10px;
	border: 0;
	border-bottom: 1px solid #333;
	border-radius: 5px;
	color: #333;
	font-size: 18px;
	width: 95%; /* szerokość inputa */
}

input::placeholder {
	font-size: 15px;
}

/* przyciski */
.container {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.btn {
	width: 100px;
	border-radius: 10px;
}

.btn-primary {
	background-color: #3498db;
	transition: background-color 0.3s;
}

.btn-primary:hover {
	background-color: #2577ad;
}

.btn-danger {
	background-color: #e74c3c;
	transition: background-color 0.3s;
}

.btn-danger:hover {
	background-color: #c0392b;
}

/* ikonki */
.fa-solid {
	color: #3498db;
}

.fa-regular {
	color: #3498db;
}

.fa-brands {
	color: #212529bf;
}

/* tekst error */
#error {
	padding: 20px;
	text-align: center;
	font-size: medium;
	color: red;
}

/* footer */
footer {
	text-align: center;
	background-color: #ddd;
}

/* dark mode */
.dark {
	background-color: #202124;
	color: #ddd;
}

#toggle-theme {
	cursor: pointer;
}
